<div class="base">
  <div class="data bg-primary">
    <table class="table table-striped text-start fs-6 fw-bold">
      <thead>
        <tr class="text-light">
          <td>Name</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Address</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-light">{{ userData.name }}</td>
          <td class="text-light">{{ userData.email }}</td>
          <td class="text-light">{{ userData.phone }}</td>
          <td class="text-light">
            <tr>
              <td class="text-light">{{ userData.address.city }}</td>
              <td class="text-light">{{ userData.address.suite }}</td>
              <td class="text-light">{{ userData.address.street }}</td>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="name">
    <p class="text-warning text-center fs-5 fw-bold">
      {{ userData.name }} Albums
    </p>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let album of userAlbums">
        <div
          class="child d-flex justify-content-evenly flex-column border rounded"
        >
          <div
            class="h-75 bg-warning d-flex justify-content-center flex-column rounded-top"
          >
            <p class="text-light fs-4 fw-bold">
              <a routerLink="/users/{{ userData.id }}/albums/{{ album.id }}"
                >Album</a
              >
              {{ album.id }}
            </p>
          </div>
          <div class="h-25 rounded">
            <span class="fw-bold fs-6">50</span>
            <p class="text-secondary fw-bold">Photos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
